.img-wrapper {
    display: flex;
}

.img {
    width: 100%;
    background: lightgray;
    height: 20%;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    background: white;
    color: black;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}