.price {
    margin: 2px;
}

.title {
    margin: 2px;
}

.item-specs {
    margin: 10px;
}

.img-wrapper {
    display: flex;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.img {
    width: 100%;
    background: lightgray;
    height: 20%;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.description {
    margin: 2px;
}

.add-btn {
    background: white;
    color: black;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}