.product {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    color: white;
    border-radius: 1.5rem;
    padding: 15px;
    width: 170px;
    justify-items: center;
    align-items: center;
}

.img-wrapper {
    display: flex;
}

.img {
    width: 100%;
    background: lightgray;
    height: 20%;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}